
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

@model OnionBlogProject.Application.Models.Dtos.AuthorDto.CreateAuthorDto

<h2>Create Author</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" id="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" id="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UploadPath" class="form-label">Resim Seç</label>
        <input asp-for="UploadPath" id="UploadPath" type="file" class="form-control" />
        <span asp-validation-for="UploadPath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
